@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
  font-family: sstSony;
  src: url(SSTLight.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTRg.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTMedium.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTBold.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTHeavy.woff2);
}
