@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@font-face {
  font-family: sstSony;
  src: url(SSTLight.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTRg.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTMedium.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTBold.woff2);
}
@font-face {
  font-family: sstSony;
  src: url(SSTHeavy.woff2);
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "sstSony", Noto Sans KR;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: #f8f8f8;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-pagination {
  position: absolute;
  bottom: -100px;
  left: 35%;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  background-color: #717171;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
@media (max-width: 1023px) {
  .swiper .swiper-pagination {
    display: none;
  }
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  transform: scale(0.5);
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 8rem;
  font-weight: normal;
  color: #e4e4e4;
  opacity: 0.7;
  text-align: center;
}
@media (min-width: 600px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    display: none;
  }
}
@media (max-width: 1023px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    display: none;
  }
}
@media (min-width: 1024px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    display: block;
  }
}
.swiper .swiper-button-next::before {
  content: "\f35a";
  position: absolute;
  top: 0;
  left: 0;
}
.swiper .swiper-button-prev::before {
  content: "\f359";
  position: absolute;
  top: 0;
  right: 0;
}

.m-br {
  display: block;
}
@media (min-width: 1024px) {
  .m-br {
    display: none;
  }
}
@media (min-width: 600px) {
  .m-br {
    display: none;
  }
}

.t-br {
  display: block;
}
@media (min-width: 1024px) {
  .t-br {
    display: none;
  }
}

.desk-p {
  display: block;
}
@media (min-width: 600px) {
  .desk-p {
    display: none;
  }
}
@media (max-width: 1023px) {
  .desk-p {
    display: none;
  }
}
@media (min-width: 1024px) {
  .desk-p {
    display: block;
  }
}

.color-btn {
  display: block;
}
@media (min-width: 600px) {
  .color-btn {
    display: none;
  }
}
@media (max-width: 1023px) {
  .color-btn {
    display: none;
  }
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #0033cc;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.8);
}
#header.active::before {
  height: 218px;
}
#header.active .gnb__depth2 {
  height: 218px;
  padding: 30px 0;
}
#header::before {
  content: "";
  display: none;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 74px;
}
#header #logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
@media (min-width: 1024px) {
  #header #logo {
    transform: none;
  }
}
#header #logo a {
  display: block;
  width: 200px;
  height: 35px;
  background: url("../../../resources/images/pattern/common/sony-logo.svg") no-repeat 0 0/contain;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  .gnb {
    display: block;
  }
}
.gnb .nav-all__depth1 {
  display: flex;
}
@media (min-width: 1024px) {
  .gnb .nav-all__depth1 {
    width: calc(100% - 75px);
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}
.gnb .nav-all__depth1 > li {
  position: relative;
}
.gnb .nav-all__depth1 > li:hover > a > span {
  color: #0033cc;
}
.gnb .nav-all__depth1 > li:hover > a > span::after {
  width: 100%;
}
.gnb .nav-all__depth1 > li:first-child .nav-all__depth2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
.gnb .nav-all__depth1 > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 102px;
  padding: 0 50px;
  font-size: 1.8rem;
}
.gnb .nav-all__depth1 > li > a:hover {
  text-decoration: none;
}
.gnb .nav-all__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.gnb .nav-all__depth1 > li > a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #0033cc;
  transition: all 0.3s;
}
.gnb .nav-all__depth2 {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  transition: all 0.3s;
}
.gnb .nav-all__depth2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
.gnb .nav-all__depth2 a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #555555;
}
.gnb .nav-all__depth2 a:hover {
  font-weight: 700;
  color: #1d1d1d;
}

.util {
  display: flex;
  gap: 20px;
}
@media (min-width: 1024px) {
  .util {
    gap: 30px;
  }
}
.util .lang {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  .util .lang {
    display: block;
  }
}
.util .lang.active .lang__btn::after {
  content: "\f106";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__btn::after {
  content: "\f107";
  color: #fff;
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
  color: #8e8e8e;
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 90%;
  border: 1px solid #c6c6c6;
  background: #fff;
  text-align: center;
}
.util .lang__lst li {
  padding: 5px 0;
  text-transform: uppercase;
}
.util .lang__lst li:first-child {
  border-bottom: 1px solid #c6c6c6;
}
.util .search {
  transform: scaleX(-1);
}
.util .search::before {
  content: "\f002";
  color: #fff;
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.util .all-menu::before {
  content: "\f0c9";
  color: #fff;
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

#nav-all {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
#nav-all .nav-all__depth1 {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 600px) {
  #nav-all .nav-all__depth1 {
    margin-top: 55px;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  #nav-all .nav-all__depth1 {
    margin-top: 60px;
  }
}
#nav-all .nav-all__depth1 li {
  width: 100%;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
@media (min-width: 600px) {
  #nav-all .nav-all__depth1 li {
    line-height: 40px;
  }
}
#nav-all .nav-all__depth1 li ul {
  display: none;
}
@media (min-width: 600px) {
  #nav-all .nav-all__depth1 li ul {
    display: block;
  }
}
#nav-all .nav-all__depth1 li span {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
@media (min-width: 600px) {
  #nav-all .nav-all__depth1 li span {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  #nav-all .nav-all__depth1 li span {
    font-size: 25px;
  }
}
#nav-all .nav-all__depth1 li a {
  width: 100%;
  height: 40px;
  text-decoration: none;
}
#nav-all .nav-all__depth1 li em {
  font-weight: lighter;
  color: #c6c6c6;
  display: none;
}
@media (min-width: 600px) {
  #nav-all .nav-all__depth1 li em {
    font-size: 16px;
    display: block;
  }
}
@media (min-width: 1024px) {
  #nav-all .nav-all__depth1 li em {
    font-size: 18px;
    display: block;
  }
}
#nav-all .nav-all__depth1 li em:hover {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}
#nav-all .close {
  position: absolute;
  top: 30px;
  right: 30px;
}
#nav-all .close::before {
  content: "\f00d";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #fff;
  font-size: 30px;
}
#nav-all.active {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: translateX(0);
  width: 100%;
  height: 100vh;
  display: block;
  left: 0;
}

.sec-g {
  overflow: hidden;
  padding: 10vw 0;
}
.sec-g__container {
  position: relative;
}
.sec-g__tit {
  padding-bottom: 2.34375vw;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -3px;
}
@media (min-width: 600px) {
  .sec-g__tit {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  .sec-g__tit {
    font-size: 90px;
  }
}
.sec-g__icon {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 18px;
  background-color: #0033cc;
  border: 2px solid #fff;
  border-radius: 4px;
  transform: translate(90px, 52px) rotate(-10deg) skewX(-20deg);
}
.sec-g__icon span {
  padding: 10px;
  color: #fff;
  font-size: 9px;
  line-height: 9px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 600px) {
  .sec-g__icon {
    transform: translate(140px, 77px) rotate(-10deg) skewX(-20deg) scale(1.5);
  }
}
@media (min-width: 1024px) {
  .sec-g__icon {
    transform: translate(190px, 101px) rotate(-10deg) skewX(-20deg) scale(1.9);
  }
}
.sec-g__desc {
  font-size: 1.5rem;
  padding: 20px 0;
  color: #8e8e8e;
  text-align: center;
}
@media (min-width: 600px) {
  .sec-g__desc {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .sec-g__desc {
    margin-top: 20px;
    font-size: 24px;
  }
}
.sec-g__more {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .sec-g__more {
    right: 30px;
  }
}
.sec-g__more::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #e4e4e4;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .sec-g__cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.sec-g__cont .swiper-button-next {
  content: "\f054";
  color: #fff;
  width: 45px;
  font-weight: lighter;
  transform: scale(0.8);
}
@media (min-width: 600px) {
  .sec-g__cont .swiper-button-next {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sec-g__cont .swiper-button-next {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sec-g__cont .swiper-button-next {
    display: block;
  }
}
.sec-g__cont .swiper-button-prev {
  content: "\f054";
  color: #fff;
  width: 45px;
  font-weight: lighter;
  transform: scale(0.8);
}
@media (min-width: 600px) {
  .sec-g__cont .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sec-g__cont .swiper-button-prev {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sec-g__cont .swiper-button-prev {
    display: block;
  }
}
@media (min-width: 1024px) {
  .sec-g__cont .swiper-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    background-color: #2d2d2d;
    border-radius: 50%;
    transform: scale(0.9) translate(-50%, 50%);
    text-align: center;
    z-index: 400;
    display: block;
  }
}

.desktop {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .desktop {
    margin-left: 35px;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .desktop {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 300;
    flex-shrink: 0;
  }
}

.footer {
  background-color: #000;
  height: auto;
  position: relative;
  color: #fff;
  padding-bottom: 30px;
  overflow-x: hidden;
}
.footer .footer-container {
  width: 100%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.footer .footer-container .footer-logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
}
.footer .footer-container .footer-logo img {
  width: 300px;
}
.footer .textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .textarea .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: -4px;
}
.footer .textarea .footer-links a {
  flex: 1;
  color: #dfdfdf;
  text-decoration: none;
  text-align: center;
}
.footer .textarea .footer-links a span {
  width: 130px;
}
.footer .textarea .footer-middle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 55px;
}
.footer .textarea .footer-company-info {
  font-size: 14px;
  color: #999;
}
.footer .textarea .footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.footer .textarea .footer-socials a {
  color: #dfdfdf;
  text-decoration: none;
  font-size: 14px;
  color: #999;
}
.footer .textarea .footer-socials a img {
  width: 24px;
}
.footer .textarea .footer-socials span {
  display: none;
}
.footer .textarea p {
  font-size: 14px;
  color: #999;
}

:root {
  --swiper-theme-color: $black;
}

.sidebar {
  display: block;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 7.5rem;
  height: 2000vh;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  z-index: 1001;
  padding: 0 1rem;
  transform: translate(0%, -5%);
  margin-top: 74px;
}
.sidebar .sidebar-wrapper {
  position: absolute;
  flex-direction: column;
  will-change: transform;
}
.sidebar img {
  width: 100%;
  transform: scale(1.2);
  margin-bottom: 100px;
  padding-right: 10px;
}
@media (min-width: 600px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
}

.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: #000;
  padding-bottom: 5rem;
}
@media (min-width: 1024px) {
  .intro {
    background-color: transparent;
  }
}
.intro .inner {
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.intro .intro-text {
  position: relative;
  width: 90%;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.intro .intro-text .pd-name {
  position: absolute;
  bottom: 14.5rem;
  left: 0%;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
.intro .intro-text__tit {
  width: 100%;
  font-size: 80px;
  color: #fff;
  animation-name: main-marquee-ani;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-direction: normal;
  animation-timing-function: linear;
  white-space: nowrap;
}
@keyframes main-marquee-ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.intro .intro-text__tit::before {
  content: "";
  display: block;
  width: 1000vh;
  height: 0.1rem;
  border-top: 0.1rem solid #999;
}
.intro .intro-text__tit::after {
  content: "";
  display: block;
  width: 1000vh;
  height: 0.1rem;
  border-top: 0.1rem solid #999;
}
@media (min-width: 600px) {
  .intro .intro-text {
    padding: 26rem 0;
  }
  .intro .intro-text .pd-name {
    padding: 33.5rem 0;
  }
  .intro .intro-text__tit {
    font-size: 120px;
  }
  .intro .intro-text__tit::after {
    padding-top: 3rem;
  }
}
@media (min-width: 1024px) {
  .intro .intro-text {
    padding: 23rem 0;
  }
  .intro .intro-text .pd-name {
    padding: 34rem 0;
  }
  .intro .intro-text__tit {
    font-size: 140px;
  }
  .intro .intro-text__tit::after {
    padding-top: 3rem;
  }
}
.intro .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55rem;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: floating 3s infinite;
}
.intro .img-wrap img {
  display: block;
  margin: 0 auto;
  width: 75%;
}
@keyframes floating {
  0%, 100% {
    transform: scale(0.7) translate(-71%, -80%);
  }
  50% {
    transform: scale(0.7) translate(-71%, -77%); /* 위로 이동 */
  }
}
@media (min-width: 600px) {
  @keyframes floating {
    0%, 100% {
      transform: scale(0.9) translate(-60%, -38%);
    }
    50% {
      transform: scale(0.9) translate(-60%, -35%); /* 위로 이동 */
    }
  }
}
@media (min-width: 1024px) {
  @keyframes floating {
    0%, 100% {
      transform: scale(1.2) translate(-50%, -38%);
    }
    50% {
      transform: scale(1.2) translate(-50%, -35%); /* 위로 이동 */
    }
  }
}
.intro .btn_view {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  background-color: #0033cc;
  border-radius: 50%;
  transform: translate(-15%, -35%);
}
.intro .btn_view a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.intro .btn_view a:hover {
  text-decoration: none;
  background-color: #325cda;
  border-radius: 50%;
  transform: scale(1.1);
  transition: all 0.1s;
}
.intro .btn_view a span {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
@media (min-width: 600px) {
  .intro .btn_view {
    top: 53%;
    right: 0;
    transform: translate(-65%, 120%);
  }
}
@media (min-width: 1024px) {
  .intro .btn_view {
    top: 55%;
    right: 0;
    transform: translate(-185%, 130%);
  }
}

.container {
  width: 100%;
  padding-right: 200px;
}

.sec-latest {
  position: relative;
}
.sec-latest .latest-lst {
  padding: 3rem 0;
  margin-bottom: 10px;
  overflow: visible;
  display: flex;
  width: 80%;
}
@media (min-width: 600px) {
  .sec-latest .latest-lst {
    padding-top: 4rem;
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .sec-latest .latest-lst {
    width: 50%;
  }
}
.sec-latest .swiper-wrapper {
  display: flex;
}
.sec-latest .swiper-button-next {
  display: none;
}
.sec-latest .swiper-button-prev {
  display: none;
}
.sec-latest .swiper-pagination-bullet {
  transition: all 0.7s;
}
.sec-latest .swiper-pagination-bullet-active {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: #e4e4e4;
}
.sec-latest .swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  flex-direction: column;
  overflow: visible;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 10;
}
@media (min-width: 1024px) {
  .sec-latest .swiper-slide {
    height: 450px;
  }
}
.sec-latest .swiper-slide::after {
  content: "";
  border-radius: 16px;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.sec-latest .swiper-slide.active {
  transform: scale(1.1);
  width: 100%;
  z-index: 10;
  box-shadow: 5px 12px 12px rgba(0, 0, 0, 0.25);
}
.sec-latest .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .sec-latest .swiper-slide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.sec-latest .swiper-slide img.active {
  transform: translateY(1.1);
}
@media (min-width: 1024px) {
  .sec-latest .swiper-slide img.active {
    transform: translateY(1.5);
  }
}
.sec-latest .swiper-slide .text-area {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  transform: translateY(calc(100% - 55px));
  transition: transform 0.4s ease-in-out;
  overflow: visible;
  z-index: 30;
}
.sec-latest .swiper-slide .text-area.active {
  opacity: 1;
  transform: translateY(0);
}
.sec-latest .swiper-slide .text-area em {
  font-weight: normal;
  color: #f0f0f0;
}
.sec-latest .swiper-slide .text-area em.active {
  transform: translateY(-55px);
  transition: all 0.4s ease-in-out;
}
@media (min-width: 600px) {
  .sec-latest .swiper-slide .text-area em.active {
    transform: translateY(-60px);
  }
}
.sec-latest .swiper-slide .text-area p {
  opacity: 0;
  font-size: 14px;
  color: #8e8e8e;
  transform: translateY(30px);
  transition: all 0.4s ease-in-out;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.sec-latest .swiper-slide .text-area p.active {
  opacity: 1;
  transform: translateY(-55px);
}
@media (min-width: 600px) {
  .sec-latest .swiper-slide .text-area p.active {
    transform: translateY(-65px);
  }
}
.sec-latest .swiper-slide .text-area strong {
  opacity: 0;
  padding-top: 1.5rem;
  color: #fff;
  transform: translateY(30px);
  transition: all 0.4s ease-in-out;
}
.sec-latest .swiper-slide .text-area strong.active {
  opacity: 1;
  transform: translateY(-60px);
}
@media (min-width: 600px) {
  .sec-latest .swiper-slide .text-area strong.active {
    transform: translateY(-70px);
  }
}
@media (min-width: 600px) {
  .sec-latest .swiper-slide .text-area img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec-latest .swiper-slide .text-area em {
    font-size: 18px;
  }
  .sec-latest .swiper-slide .text-area p {
    font-size: 16px;
  }
  .sec-latest .swiper-slide .text-area strong {
    padding-top: 2rem;
    font-size: 21px;
  }
}

.horizontal-scroll {
  overflow: hidden;
  background-color: #000;
  margin-top: 10vw;
  height: 100vh;
  position: relative;
}
@media (min-width: 1024px) {
  .horizontal-scroll {
    background-color: transparent;
  }
}
.horizontal-scroll .filled-text {
  position: absolute;
  padding-right: 20px;
  top: 80px;
  left: 20px;
  font-size: 50px;
  z-index: 1;
  font-weight: 600;
  color: ghostwhite;
}
@media (min-width: 600px) {
  .horizontal-scroll .filled-text {
    top: 120px;
    left: 30px;
    font-size: 80px;
  }
}
@media (min-width: 1024px) {
  .horizontal-scroll .filled-text {
    top: 400px;
    left: 100px;
    font-size: 100px;
  }
}
.horizontal-scroll .outline-text {
  position: absolute;
  top: 400px;
  left: 100px;
  z-index: 3;
  font-size: 100px;
  font-weight: 600;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: ghostwhite;
  color: transparent;
}
@media (max-width: 1023px) {
  .horizontal-scroll .outline-text {
    display: none;
  }
}
.horizontal-scroll .horizontal-item {
  position: absolute;
  overflow: hidden;
  top: 250px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  z-index: 2;
}
@media (min-width: 600px) {
  .horizontal-scroll .horizontal-item {
    padding-top: 80px;
    overflow: hidden;
    top: 300px;
    left: 30px;
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  .horizontal-scroll .horizontal-item {
    top: 150px;
    left: 500px;
  }
}
.horizontal-scroll .horizontal-item img {
  width: 35rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .horizontal-scroll .horizontal-item img {
    width: 71rem;
    height: 50rem;
  }
}
@media (min-width: 1024px) {
  .horizontal-scroll .horizontal-item img {
    height: 50rem;
    width: 80rem;
  }
}

.cont-headline {
  padding-top: 10vw;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .cont-headline {
    background-color: transparent;
  }
}
.cont-headline .cont-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 600px) {
  .cont-headline .cont-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
.cont-headline .head-text {
  position: relative;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.cont-headline .head-text__tit {
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.3;
}
.cont-headline .head-text__desc {
  padding-top: 2rem;
  text-align: left;
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .cont-headline .head-text {
    margin: 20vw 0 0 0;
    flex: 1;
  }
  .cont-headline .head-text__tit {
    margin-right: -14rem;
    font-size: 36px;
  }
  .cont-headline .head-text__tit .t-br {
    display: block;
  }
  .cont-headline .head-text__desc {
    font-size: 15px;
    margin: 2rem -15rem 0 0;
  }
}
@media (min-width: 1024px) {
  .cont-headline .head-text {
    margin-top: 5vw;
  }
  .cont-headline .head-text__tit {
    font-size: 60px;
  }
  .cont-headline .head-text__tit .t-br {
    display: block;
  }
  .cont-headline .head-text__desc {
    font-size: 20px;
    margin-top: 5vw;
  }
}
.cont-headline .btn-all {
  position: sticky;
  top: 50%;
  left: 50%;
  width: 18rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 3rem;
  transform: translate(-50%, -50%);
}
.cont-headline .btn-all a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cont-headline .btn-all a:hover {
  text-decoration: none;
  background-color: #c6c6c6;
  border-radius: 3rem;
}
.cont-headline .btn-all a span {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
@media (min-width: 1024px) {
  .cont-headline .btn-all a span {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .cont-headline .btn-all {
    position: absolute;
    top: 52rem;
    left: 9rem;
  }
}
@media (min-width: 1024px) {
  .cont-headline .btn-all {
    width: 30rem;
    height: 6rem;
    position: absolute;
    top: 70rem;
    left: 15rem;
  }
}
.cont-headline .head-video {
  overflow: hidden;
  padding-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.cont-headline .head-video video {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .cont-headline .head-video {
    flex: 1;
    padding-top: 0;
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .cont-headline .head-video {
    height: 100vh;
  }
}
@media (min-width: 600px) {
  .cont-headline {
    padding-bottom: 10vw;
  }
}

.sec-hot {
  position: relative;
  padding-top: 10vw;
}
.sec-hot .sec-g__desc em {
  font-size: 11px;
  color: #d8d8d8;
}
@media (min-width: 600px) {
  .sec-hot .sec-g__desc em {
    font-size: 15px;
  }
}
.sec-hot .hot-lst__circle {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -15%);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .sec-hot .hot-lst__circle {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sec-hot .hot-lst__circle {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sec-hot .hot-lst__circle {
    margin: 0;
    display: block;
    height: auto;
    top: auto;
    bottom: 0;
    transform: translate(-80%, 0);
  }
}
.sec-hot .hot-lst__circle .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.sec-hot .hot-lst__circle .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
}
@media (min-width: 1024px) {
  .sec-hot .hot-lst__circle .swiper-wrapper .swiper-slide {
    justify-content: flex-start;
  }
}
.sec-hot .hot-lst__circle .swiper-wrapper .circle {
  width: 599px;
  height: 599px;
  border: 0.1rem solid #c6c6c6;
  border-radius: 50%;
  background-color: transparent;
}
.sec-hot .hot-lst__gallery {
  width: 90%;
}
.sec-hot .hot-lst__gallery .swiper-slide {
  border-radius: 50%;
}
.sec-hot .hot-lst__gallery .swiper-slide img {
  width: 100%;
  height: 315px;
}
@media (min-width: 600px) {
  .sec-hot .hot-lst__gallery {
    padding-top: 50px;
    margin-left: 7rem;
    width: 80%;
  }
  .sec-hot .hot-lst__gallery .swiper-slide {
    width: 100%;
  }
  .sec-hot .hot-lst__gallery .swiper-slide img {
    width: 510px;
    height: 510px;
  }
}
@media (min-width: 1024px) {
  .sec-hot .hot-lst__gallery {
    width: 100%;
  }
  .sec-hot .hot-lst__gallery .swiper-slide {
    width: 100%;
  }
  .sec-hot .hot-lst__gallery .swiper-slide img {
    width: 100%;
    height: 599px;
  }
}
.sec-hot .hot-lst__text {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-hot .hot-lst__text .text-area {
  text-align: center;
  line-height: 1.5;
}
.sec-hot .hot-lst__text .text-area a:hover {
  text-decoration: none;
}
.sec-hot .hot-lst__text .text-area span {
  color: #8e8e8e;
  font-size: 14px;
}
.sec-hot .hot-lst__text .text-area h3 {
  color: #1d1d1d;
}
.sec-hot .hot-lst__text .text-area em {
  font-weight: normal;
  color: #555555;
  line-height: 3;
}
@media (min-width: 600px) {
  .sec-hot .hot-lst__text .text-area {
    padding-top: 2rem;
  }
  .sec-hot .hot-lst__text .text-area span {
    font-size: 21px;
  }
  .sec-hot .hot-lst__text .text-area h3 {
    font-size: 28px;
  }
  .sec-hot .hot-lst__text .text-area em {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .sec-hot .hot-lst__text .text-area {
    width: 370px;
    margin-left: auto;
    text-align: left;
  }
  .sec-hot .hot-lst__text .text-area span {
    font-size: 22px;
  }
  .sec-hot .hot-lst__text .text-area h3 {
    font-size: 28px;
  }
  .sec-hot .hot-lst__text .text-area .color-btn {
    display: inline-block;
    margin-top: 50px;
    width: 26px;
    height: 26px;
    background-color: #000;
    border: 1px solid #c6c6c6;
  }
  .sec-hot .hot-lst__text .text-area p {
    margin-top: 10px;
    font-size: 14px;
    color: #8e8e8e;
  }
  .sec-hot .hot-lst__text .text-area em {
    font-size: 24px;
  }
}

.sec-info {
  background-color: #f5f5f7;
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .sec-info {
    background-color: transparent;
  }
}
.sec-info__tit {
  color: #000;
}
@media (min-width: 1024px) {
  .sec-info__tit {
    text-align: left;
    color: #f5f5f7;
  }
}
@media (min-width: 1024px) {
  .sec-info ul {
    display: flex;
    justify-content: space-between;
  }
}
.sec-info .cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 600px) {
  .sec-info .cont {
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .sec-info .cont {
    display: block;
    gap: 0;
  }
}
.sec-info a {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .sec-info a {
    width: 100%;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1024px) {
  .sec-info a {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 340px;
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  .sec-info a:hover {
    background-color: #c6c6c6;
    text-decoration: none;
    position: relative;
    transform: scale(1.01);
    transition: all 0.4s;
    box-shadow: 5px 12px 12px rgba(0, 0, 0, 0.25);
  }
}
.sec-info .bg {
  width: 95%;
}
@media (min-width: 600px) {
  .sec-info .bg {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .sec-info .bg {
    width: 50%;
  }
}
.sec-info .bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .sec-info .bg img {
    width: 100%;
    height: 240px;
    display: flex;
  }
}
@media (min-width: 1024px) {
  .sec-info .bg img {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sec-info .text-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -20px;
  padding: 2rem 2rem;
}
.sec-info .text-area em {
  font-weight: normal;
  color: #2d2d2d;
  font-size: 1.3rem;
}
.sec-info .text-area h3 {
  font-size: 2.1rem;
  color: #000000;
}
.sec-info .text-area p {
  padding-top: 1.5rem;
  color: #717171;
  font-size: 1.2rem;
}
@media (min-width: 600px) {
  .sec-info .text-area {
    margin-top: 10px;
  }
  .sec-info .text-area em {
    font-size: 1.5rem;
  }
  .sec-info .text-area h3 {
    font-size: 2.8rem;
  }
  .sec-info .text-area p {
    padding-top: 30px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .sec-info .text-area {
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  .sec-info .text-area em {
    font-size: 1.8rem;
  }
  .sec-info .text-area h3 {
    padding-top: 10px;
    font-size: 2.8rem;
  }
  .sec-info .text-area p {
    padding-top: 120px;
    font-size: 1.6rem;
  }
}

.hero {
  background-color: #000;
  height: 100vh;
}
.hero h2 {
  padding-top: 10vw;
  text-align: center;
  font-size: 21px;
  color: #fff;
}
.hero .img-wrap {
  margin: 50px 0;
}
.hero .btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero button {
  width: 80px;
  height: 40px;
  background-color: #0071e3;
  border-radius: 32px;
  font-size: 14px;
  color: #fff;
}
.hero .textarea {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero .textarea em {
  margin-top: 10px;
  font-weight: lighter;
}

.main_fct {
  height: 100vh;
  padding: 10vw 0;
  background-color: #1d1d1d;
  position: relative;
}
.main_fct h2 {
  margin-top: 50px;
  padding-left: 30px;
  font-size: 28px;
  color: #fff;
}
.main_fct span {
  display: flex;
  color: #0071e3;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 10px;
}
.main_fct .main-fct__img {
  padding: 50px 0;
}
.main_fct .main-fct__img .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.main_fct .main-fct__img .swiper-wrapper .swiper-slide {
  width: 100%;
}
.main_fct .main-fct__img .swiper-wrapper .swiper-slide img {
  width: 85%;
  height: 450px;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_fct .main-fct__img .textarea {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-40%, 60%);
  overflow: hidden;
  text-align: left;
  color: #fff;
  width: 80%;
}
.main_fct .main-fct__img .textarea p {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  opacity: 1;
  transform: translateX(100px);
  transition: transform 0.7s ease, opacity 0.7s ease;
}
.main_fct .main-fct__img .textarea p.active {
  opacity: 1;
  transform: translateX(0);
}
.main_fct .main-fct__img .swiper-pagination {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 55, 57, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 200px;
  gap: 10px;
}
.main_fct .main-fct__img .swiper-pagination-bullet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.7s;
  background-color: #e4e4e4;
}
.main_fct .main-fct__img .swiper-pagination-bullet-active {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: #e4e4e4;
}

.detail {
  height: 100vh;
  padding: 10vw 0;
  background-color: #000;
}
.detail h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.detail .detail-product {
  padding: 60px 0;
}
.detail .detail-product .swiper-wrapper {
  width: 100%;
  margin: 20px 0;
}
.detail .detail-product img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
}
.detail .detail-product img.active {
  opacity: 1;
}
.detail .detail-product .pd_selectors {
  margin-top: 10px;
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-22%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: 50px;
  border-radius: 32px;
  background-color: rgba(55, 55, 57, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.detail .detail-product .product-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
  border: 2px solid #c6c6c6;
}
.detail .detail-product .product-btn.active {
  border: 2px solid #fff;
  background-color: #fff;
}

.perpect {
  padding: 10vw 0;
  background-color: #000;
}
.perpect h2 {
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.perpect .video-warp {
  margin: 15vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.perpect .video-warp video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

.perpect-text {
  padding: 10vw 0;
  background-color: #000;
}
.perpect-text .text-warp {
  color: #fff;
  padding: 0 20px;
}
.perpect-text .text-warp .textarea {
  padding: 0 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  color: #999;
  word-break: break-all;
}
.perpect-text .text-warp .textarea p {
  font-size: 16px;
}
.perpect-text .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}
.perpect-text .perpect_text {
  margin: 50px 0;
  position: relative;
}
.perpect-text .perpect_text .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.perpect-text .perpect_text .swiper-slide img {
  width: 80%;
  height: 320px;
  border-radius: 32px;
}
.perpect-text .perpect_text .swiper-slide .text-tit {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #fff, #c5a6b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pro {
  padding: 10vw 0;
  background-color: #000;
  position: relative;
}
.pro h2 {
  padding-left: 30px;
  font-size: 28px;
  color: #fff;
}
.pro .text-warp {
  padding: 0 20px;
  color: #999;
}
.pro .text-warp .textarea {
  padding: 0 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  word-break: break-all;
}
.pro .text-warp .textarea p {
  font-size: 16px;
}
.pro .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}
.pro .pro_lst {
  margin: 50px 0;
}
.pro .pro_lst .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pro .pro_lst .swiper-slide img {
  width: 80%;
  height: 320px;
  border-radius: 32px;
}
.pro .pro_lst .swiper-slide .text-tit {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #fff, #c5a6b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pro .btn {
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pro .btn .view__more {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 230px;
  height: 45px;
  border-radius: 32px;
  background-color: #333;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-weight: bold;
  color: #fff;
  z-index: 3;
  font-size: 16px;
}
.pro .btn .view__more .btn-tit {
  padding-left: -5px;
}
.pro .btn .view__more .icon-plus {
  position: relative;
  display: flex;
}
.pro .btn .view__more .icon-plus__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: #0033cc;
  border-radius: 32px;
}
.pro .btn .view__more .icon-plus__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.pro .btn .view__more .icon-plus__text::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f067";
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  font-weight: bold;
}

.gallery_af {
  padding: 10vw 0;
  background-color: #000;
  position: relative;
}
.gallery_af h2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(5%, 400%);
  padding-left: 20px;
  font-size: 21px;
  text-align: center;
  color: #fff;
}
.gallery_af .img-wrap img {
  width: 100%;
  height: 400px;
}
.gallery_af em {
  display: block;
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
  color: #c6c6c6;
}
.gallery_af .text-warp {
  margin-top: 30px;
  padding: 0 20px;
  color: #999;
}
.gallery_af .text-warp .textarea {
  padding: 0 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  word-break: break-all;
}
.gallery_af .text-warp .textarea p {
  font-size: 16px;
}
.gallery_af .text-warp .textarea strong {
  color: #fff;
  font-size: 28px;
  line-height: 1.4;
}
.gallery_af .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}
.gallery_af .af-drive {
  padding-top: 30px;
  background-color: #000;
}
.gallery_af .af-drive .text-warp {
  padding: 0 20px;
  color: #999;
}
.gallery_af .af-drive .text-warp .textarea {
  padding: 0 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  word-break: break-all;
}
.gallery_af .af-drive .text-warp .textarea p {
  font-size: 16px;
}
.gallery_af .af-drive .text-warp .textarea strong {
  color: #fff;
  font-size: 28px;
  line-height: 1.4;
}
.gallery_af .af-drive .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}
.gallery_af .af-drive .video-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 40px;
}
.gallery_af .af-drive .video-wrap video {
  width: 80%;
}
.gallery_af .af-drive .textbox {
  padding: 0 20px;
}
.gallery_af .af-drive .textbox .box {
  margin: 50px 0;
  padding-left: 30px;
  width: 90%;
  text-align: left;
  line-height: 1.6;
}
.gallery_af .af-drive .textbox .box span {
  color: #fff;
  font-weight: bold;
}
.gallery_af .af-drive .textbox .box .line {
  position: relative;
  padding: 5px 0;
}
.gallery_af .af-drive .textbox .box .line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 3px;
  background-color: #fff;
}
.gallery_af .af-drive .textbox .box p {
  color: #999;
}
.gallery_af .af-drive .btn {
  padding: 10vw 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.gallery_af .af-drive .btn .view__more {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 250px;
  height: 45px;
  border-radius: 32px;
  background-color: #333;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-weight: bold;
  color: #fff;
  z-index: 3;
  font-size: 16px;
}
.gallery_af .af-drive .btn .view__more .btn-tit {
  padding-left: -5px;
}
.gallery_af .af-drive .btn .view__more .icon-plus {
  position: relative;
  display: flex;
}
.gallery_af .af-drive .btn .view__more .icon-plus__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: #0033cc;
  border-radius: 32px;
}
.gallery_af .af-drive .btn .view__more .icon-plus__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.gallery_af .af-drive .btn .view__more .icon-plus__text::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f067";
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  font-weight: bold;
}

.timing {
  padding: 10vw 0;
  background-color: #000;
  position: relative;
}
.timing h2 {
  position: absolute;
  top: 20%;
  left: 0;
  padding-left: 20px;
  font-size: 28px;
  color: #fff;
}
.timing img {
  width: 100%;
}
.timing .text-warp {
  margin: 10vw 0;
  padding: 0 20px;
}
.timing .text-warp .textarea {
  padding: 0 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  color: #999;
  word-break: break-all;
}
.timing .text-warp .textarea p {
  font-size: 16px;
}
.timing .text-warp .textarea strong {
  color: #fff;
  font-size: 28px;
  line-height: 1.4;
}
.timing .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}

.compact {
  padding: 10vw 0;
  background-color: #000;
  position: relative;
}
.compact h2 {
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.compact img {
  width: 100%;
}
.compact em {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}
.compact strong {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 28px;
  color: #fff;
}
.compact .text-warp {
  margin: 10vw 0;
  padding: 0 20px;
}
.compact .text-warp .textarea {
  padding: 0 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  color: #999;
  word-break: break-all;
}
.compact .text-warp .textarea p {
  font-size: 16px;
}
.compact .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}

.eco {
  padding: 10vw 0;
  background-color: #000;
  position: relative;
}
.eco h2 {
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: 28px;
  text-align: center;
  color: #fff;
}
.eco .text-warp {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -80%);
  margin: 10vw 0;
  padding: 0 20px;
}
.eco .text-warp .textarea {
  padding: 0 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  color: #999;
  word-break: break-all;
}
.eco .text-warp .textarea p {
  font-size: 16px;
}
.eco .text-warp .textarea strong {
  color: #fff;
  font-size: 28px;
  line-height: 1.4;
}
.eco .text-warp .textarea .highlight {
  font-weight: bold;
  color: #fff;
}
.eco__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, 180%);
}/*# sourceMappingURL=styles.css.map */