@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: #f8f8f8;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-pagination {
  display: flex;
  justify-content: center;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 7rem;
  color: #c6c6c6;
  opacity: 0.5;
}
@media (min-width: 600px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    display: none;
  }
}
@media (max-width: 1023px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    display: none;
  }
}
@media (min-width: 1024px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    display: block;
  }
}
.swiper .swiper-button-next::before {
  content: "\f138";
  position: absolute;
  top: -40%;
  left: 1410%;
}
.swiper .swiper-button-prev::before {
  content: "\f137";
  position: absolute;
  top: -40%;
  right: -40%;
}

.m-br {
  display: block;
}
@media (min-width: 1024px) {
  .m-br {
    display: none;
  }
}
@media (min-width: 600px) {
  .m-br {
    display: none;
  }
}

.t-br {
  display: block;
}
@media (min-width: 1024px) {
  .t-br {
    display: none;
  }
}

.desk-p {
  display: block;
}
@media (min-width: 600px) {
  .desk-p {
    display: none;
  }
}
@media (max-width: 1023px) {
  .desk-p {
    display: none;
  }
}
@media (min-width: 1024px) {
  .desk-p {
    display: block;
  }
}

.color-btn {
  display: block;
}
@media (min-width: 600px) {
  .color-btn {
    display: none;
  }
}
@media (max-width: 1023px) {
  .color-btn {
    display: none;
  }
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #0033CC;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

#header {
  display: none;
  position: relative;
  z-index: 1000;
}
#header.active::before {
  height: 218px;
}
#header.active .gnb__depth2 {
  height: 218px;
  padding: 30px 0;
}
#header::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 73px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: auto;
  }
}
#header #logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
@media (min-width: 1024px) {
  #header #logo {
    transform: none;
  }
}
#header #logo a {
  display: block;
  width: 200px;
  height: 35px;
  background: url("../../../resources/images/pattern/common/head_logo.svg") no-repeat 0 0/contain;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  #gnb {
    display: block;
  }
}
#gnb .gnb__depth1 {
  display: flex;
}
#gnb .gnb__depth1 > li {
  position: relative;
}
#gnb .gnb__depth1 > li:hover > a > span {
  color: #0033CC;
}
#gnb .gnb__depth1 > li:hover > a > span::after {
  width: 100%;
}
#gnb .gnb__depth1 > li:first-child .gnb__depth2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
#gnb .gnb__depth1 > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  padding: 0 50px;
  font-size: 1.8rem;
}
#gnb .gnb__depth1 > li > a:hover {
  text-decoration: none;
}
#gnb .gnb__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
#gnb .gnb__depth1 > li > a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #0033CC;
  transition: all 0.3s;
}
#gnb .gnb__depth2 {
  overflow: hidden;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#gnb .gnb__depth2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
#gnb .gnb__depth2 a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #555555;
}
#gnb .gnb__depth2 a:hover {
  font-weight: 700;
  color: #1d1d1d;
}

.util {
  display: flex;
  gap: 15px;
}
.util .lang {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  .util .lang {
    display: block;
  }
}
.util .lang.active .lang__btn::after {
  content: "\f106";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__btn::after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
  color: #8e8e8e;
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 90%;
  border: 1px solid #c6c6c6;
  background: #fff;
  text-align: center;
}
.util .lang__lst li {
  padding: 5px 0;
  text-transform: uppercase;
}
.util .lang__lst li:first-child {
  border-bottom: 1px solid #c6c6c6;
}
.util .search {
  transform: scaleX(-1);
}
.util .search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.util .all-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#nav-all.active {
  display: block;
  left: 0;
}

.sec-g {
  overflow: hidden;
  padding: 10vw 0;
}
.sec-g__tit {
  padding-bottom: 2.34375vw;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -3px;
}
@media (min-width: 600px) {
  .sec-g__tit {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  .sec-g__tit {
    font-size: 90px;
  }
}
.sec-g__icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 18px;
  background-color: #0033CC;
  border: 2px solid #fff;
  border-radius: 4px;
  transform: translate(-87%, 284%) rotate(-10deg) skewX(-20deg);
}
.sec-g__icon span {
  padding: 10px;
  color: #fff;
  font-size: 9px;
  line-height: 9px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 600px) {
  .sec-g__icon {
    transform: translate(-336%, 424%) rotate(-10deg) skewX(-20deg) scale(1.5);
  }
}
@media (min-width: 1024px) {
  .sec-g__icon {
    transform: translate(-687%, 554%) rotate(-10deg) skewX(-20deg) scale(1.9);
  }
}
.sec-g__desc {
  font-size: 1.5rem;
  padding: 20px 0;
  color: #8e8e8e;
  text-align: center;
}
@media (min-width: 600px) {
  .sec-g__desc {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .sec-g__desc {
    margin-top: 20px;
    font-size: 24px;
  }
}
.sec-g__more {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .sec-g__more {
    right: 30px;
  }
}
.sec-g__more::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #e4e4e4;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .sec-g__cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.sec-g__cont .swiper-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  background-color: #2d2d2d;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  z-index: 400;
  display: block;
}
.sec-g__cont .swiper-button-next {
  content: "\f054";
  color: #fff;
  width: 40px;
  height: 40px;
  font-weight: lighter;
}
.sec-g__cont .swiper-button-prev {
  content: "\f054";
  color: #fff;
  width: 40px;
  height: 40px;
  font-weight: lighter;
}
@media (min-width: 600px) {
  .sec-g__cont .swiper-button {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sec-g__cont .swiper-button {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sec-g__cont .swiper-button {
    display: block;
  }
}

.bg {
  width: 100%;
}
@media (min-width: 1024px) {
  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 52%;
  }
}
@media (min-width: 1024px) {
  .bg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 150px;
  }
}

.desktop {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .desktop {
    margin-left: 35px;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .desktop {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 300;
    flex-shrink: 0;
  }
}

:root {
  --swiper-theme-color: $black;
}

.sidebar {
  display: block;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 8rem;
  background-color: #fff;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 1;
  padding: 0 1rem;
}
.sidebar .sidebar-wrapper {
  transform: translate(0%, -5%);
  position: relative;
  flex-direction: column;
  will-change: transform;
}
.sidebar img {
  width: 100%;
  transform: scale(1.2);
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 100px;
}
@media (min-width: 600px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
}

.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: #000;
  padding-bottom: 5rem;
}
.intro .inner {
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.intro .intro-text {
  position: relative;
  padding-bottom: 1.5rem;
  width: 90%;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.intro .intro-text .pd-name {
  position: absolute;
  bottom: 14.5rem;
  left: 0;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
.intro .intro-text__tit {
  width: 100%;
  font-size: 80px;
  color: #fff;
}
.intro .intro-text__tit::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  border-top: 0.1rem solid #999;
}
.intro .intro-text__tit::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  border-top: 0.1rem solid #999;
}
@media (min-width: 600px) {
  .intro .intro-text {
    padding: 26rem 0;
  }
  .intro .intro-text .pd-name {
    padding: 33.5rem 0;
  }
  .intro .intro-text__tit {
    font-size: 120px;
  }
  .intro .intro-text__tit::after {
    padding-top: 3rem;
  }
}
@media (min-width: 1024px) {
  .intro .intro-text {
    padding: 23rem 0;
  }
  .intro .intro-text .pd-name {
    padding: 34rem 0;
  }
  .intro .intro-text__tit {
    font-size: 140px;
  }
  .intro .intro-text__tit::after {
    padding-top: 3rem;
  }
}
.intro .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60rem;
  transform: scale(0.6) translate(-50%, -60%);
  transform-origin: 0 0;
  text-align: center;
}
@media (min-width: 600px) {
  .intro .img-wrap {
    transform: scale(0.75) translate(-55%, -35%);
  }
}
@media (min-width: 1024px) {
  .intro .img-wrap {
    transform: scale(0.9) translate(-55%, -40%);
  }
}
.intro .btn_view {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  background-color: #0033CC;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-15%, -20%);
}
.intro .btn_view a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.intro .btn_view a:hover {
  text-decoration: none;
  background-color: #c6c6c6;
  border-radius: 50%;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.intro .btn_view a span {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
@media (min-width: 600px) {
  .intro .btn_view {
    top: 50%;
    right: 0;
    transform: translate(-65%, 120%);
  }
}
@media (min-width: 1024px) {
  .intro .btn_view {
    top: 50%;
    right: 0;
    transform: translate(-185%, 130%);
  }
}

.container {
  width: 100%;
  height: 200vh;
  padding-right: 200px;
}

.sec-latest {
  position: relative;
}
.sec-latest .latest-lst {
  padding-top: 0.5rem;
  overflow: visible;
  width: 90%;
  margin-left: 0;
}
@media (min-width: 600px) {
  .sec-latest .latest-lst {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .sec-latest .latest-lst {
    padding-top: 3rem;
    width: 45%;
  }
}
.sec-latest .swiper-slide {
  flex-direction: column;
  background: #000;
}
.sec-latest .swiper-slide img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12rem;
  width: 100%;
  height: 37rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #000;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .sec-latest .swiper-slide img {
    width: 100%;
    height: 30rem;
    margin-bottom: 13rem;
    padding-bottom: 1rem;
  }
}
.sec-latest .swiper-slide .text-area {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(0.7rem);
          backdrop-filter: blur(0.7rem);
}
.sec-latest .swiper-slide .text-area em {
  font-weight: normal;
  color: #c6c6c6;
}
.sec-latest .swiper-slide .text-area p {
  font-size: 14px;
  color: #8e8e8e;
}
.sec-latest .swiper-slide .text-area strong {
  padding-top: 1.5rem;
  color: #fff;
}
@media (min-width: 600px) {
  .sec-latest .swiper-slide .text-area em {
    font-size: 18px;
  }
  .sec-latest .swiper-slide .text-area p {
    font-size: 16px;
  }
  .sec-latest .swiper-slide .text-area strong {
    padding-top: 2rem;
    font-size: 21px;
  }
}

.cont-parallax {
  padding-top: 10vw;
  width: 100%;
  height: 100%;
}
.cont-parallax__wrapper {
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 100%;
  white-space: nowrap;
}
.cont-parallax img {
  display: block;
  width: 50rem;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #000;
}
@media (min-width: 1024px) {
  .cont-parallax img {
    width: 70rem;
    height: 50rem;
  }
}

.cont-headline {
  padding-top: 10vw;
  width: 100%;
  background: #000;
}
.cont-headline .cont-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 600px) {
  .cont-headline .cont-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
.cont-headline .head-text {
  position: relative;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.cont-headline .head-text__tit {
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.3;
}
.cont-headline .head-text__desc {
  padding-top: 2rem;
  text-align: left;
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .cont-headline .head-text {
    margin: 20vw 0 0 0;
    flex: 1;
  }
  .cont-headline .head-text__tit {
    margin-right: -14rem;
    font-size: 36px;
  }
  .cont-headline .head-text__tit .t-br {
    display: block;
  }
  .cont-headline .head-text__desc {
    font-size: 15px;
    margin: 2rem -15rem 0 0;
  }
}
@media (min-width: 1024px) {
  .cont-headline .head-text {
    margin-top: 5vw;
  }
  .cont-headline .head-text__tit {
    font-size: 60px;
  }
  .cont-headline .head-text__tit .t-br {
    display: block;
  }
  .cont-headline .head-text__desc {
    font-size: 20px;
    margin-top: 5vw;
  }
}
.cont-headline .btn-all {
  position: sticky;
  top: 50%;
  left: 50%;
  width: 18rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 3rem;
  transform: translate(-50%, -50%);
}
.cont-headline .btn-all a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cont-headline .btn-all a:hover {
  text-decoration: none;
  background-color: #c6c6c6;
  border-radius: 3rem;
}
.cont-headline .btn-all a span {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
@media (min-width: 1024px) {
  .cont-headline .btn-all a span {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .cont-headline .btn-all {
    position: absolute;
    top: 52rem;
    left: 9rem;
  }
}
@media (min-width: 1024px) {
  .cont-headline .btn-all {
    width: 30rem;
    height: 6rem;
    position: absolute;
    top: 70rem;
    left: 15rem;
  }
}
.cont-headline .head-video {
  overflow: hidden;
  padding-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.cont-headline .head-video video {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .cont-headline .head-video {
    flex: 1;
    padding-top: 0;
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .cont-headline .head-video {
    height: 100vh;
  }
}
@media (min-width: 600px) {
  .cont-headline {
    padding-bottom: 10vw;
  }
}

.sec-hot {
  position: relative;
  padding-top: 10vw;
}
.sec-hot .sec-g__desc em {
  font-size: 11px;
  color: #d8d8d8;
}
@media (min-width: 600px) {
  .sec-hot .sec-g__desc em {
    font-size: 15px;
  }
}

.hot-lst__circle {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -15%);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .hot-lst__circle {
    display: none;
  }
}
@media (max-width: 1023px) {
  .hot-lst__circle {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hot-lst__circle {
    margin: 0;
    display: block;
    height: auto;
    top: auto;
    bottom: 0;
    transform: translate(-80%, 0);
  }
}
.hot-lst__circle .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.hot-lst__circle .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
}
@media (min-width: 1024px) {
  .hot-lst__circle .swiper-wrapper .swiper-slide {
    justify-content: flex-start;
  }
}
.hot-lst__circle .swiper-wrapper .circle {
  width: 563px;
  height: 563px;
  border: 0.1rem solid #c6c6c6;
  border-radius: 50%;
}

.hot-lst__gallery {
  width: 90%;
}
.hot-lst__gallery .swiper-slide {
  border-radius: 50%;
}
.hot-lst__gallery .swiper-slide img {
  width: 100%;
  border-radius: 50%;
}
@media (min-width: 600px) {
  .hot-lst__gallery {
    padding-top: 50px;
    margin-left: 7rem;
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .hot-lst__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hot-lst__gallery img {
    display: block;
    width: 563px;
    height: 563px;
  }
}

.hot-lst__text {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hot-lst__text .text-area {
  text-align: center;
  line-height: 1.5;
}
.hot-lst__text .text-area a:hover {
  text-decoration: none;
}
.hot-lst__text .text-area span {
  color: #8e8e8e;
  font-size: 14px;
}
.hot-lst__text .text-area h3 {
  color: #1d1d1d;
}
.hot-lst__text .text-area em {
  font-weight: normal;
  color: #555555;
  line-height: 3;
}
@media (min-width: 600px) {
  .hot-lst__text .text-area {
    padding-top: 2rem;
  }
  .hot-lst__text .text-area span {
    font-size: 21px;
  }
  .hot-lst__text .text-area h3 {
    font-size: 28px;
  }
  .hot-lst__text .text-area em {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .hot-lst__text .text-area {
    width: 370px;
    margin-left: auto;
    text-align: left;
  }
  .hot-lst__text .text-area span {
    font-size: 22px;
  }
  .hot-lst__text .text-area h3 {
    font-size: 28px;
  }
  .hot-lst__text .text-area .color-btn {
    display: inline-block;
    margin-top: 50px;
    width: 26px;
    height: 26px;
    background-color: #000;
    border: 1px solid #c6c6c6;
  }
  .hot-lst__text .text-area p {
    margin-top: 10px;
    font-size: 14px;
    color: #8e8e8e;
  }
  .hot-lst__text .text-area em {
    font-size: 24px;
  }
}

.sec-info {
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .sec-info ul {
    display: flex;
    justify-content: space-between;
  }
}
.sec-info .cont {
  position: relative;
  margin: -1.5rem 0 1.5rem 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .sec-info .cont {
    position: relative;
  }
}
.sec-info .cont .line::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #000;
}
.sec-info .cont .line-center::before {
  position: absolute;
  top: 47%;
  left: 78%;
  transform: rotate(90deg);
  z-index: 300;
  content: "";
  display: block;
  width: 50%;
  height: 0.2rem;
  background-color: #000;
}
@media (min-width: 600px) {
  .sec-info .cont .bg1 {
    width: 50.25%;
    background: linear-gradient(to bottom, #ebeaea, #dbdbdb, #c9c9ca, #c9c9c9);
    -webkit-backdrop-filter: blur(0.01rem);
            backdrop-filter: blur(0.01rem);
  }
  .sec-info .cont .bg1 img {
    height: 220px;
    -webkit-backdrop-filter: blur(0.09rem);
            backdrop-filter: blur(0.09rem);
  }
}
@media (min-width: 1024px) {
  .sec-info .cont .bg1 {
    background: none;
  }
  .sec-info .cont .bg1 img {
    width: 100%;
    height: 100%;
  }
}
.sec-info .cont .bg2 {
  background-color: #f9e4c9;
}
@media (min-width: 600px) {
  .sec-info .cont .bg2 {
    width: 50.25%;
  }
}
@media (min-width: 1024px) {
  .sec-info .cont .bg2 {
    background: none;
  }
  .sec-info .cont .bg2 img {
    width: 100%;
  }
}
.sec-info .cont img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .sec-info .cont img {
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    transform: scale(1);
  }
}
@media (min-width: 1024px) {
  .sec-info .cont a {
    display: flex;
    justify-content: space-between;
  }
}
.sec-info .cont a:hover {
  text-decoration: none;
}
.sec-info .cont .text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem 3rem 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
}
.sec-info .cont .text-area em {
  font-weight: normal;
  color: #002699;
  font-size: 1.4rem;
}
.sec-info .cont .text-area h3 {
  color: #000000;
}
.sec-info .cont .text-area p {
  padding-top: 1.5rem;
  color: #8e8e8e;
  font-size: 1.4rem;
}
@media (min-width: 1024px) {
  .sec-info .cont .text-area {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-right: 310px;
    height: 300px;
    min-width: 65%;
  }
  .sec-info .cont .text-area em {
    font-size: 16px;
  }
  .sec-info .cont .text-area h3 {
    font-size: 24px;
  }
  .sec-info .cont .text-area p {
    width: 100%;
    padding-top: 130px;
    font-size: 15px;
  }
}
@media (min-width: 600px) {
  .sec-info .cont img {
    width: 50%;
    height: 20rem;
    text-align: center;
  }
  .sec-info .cont a {
    display: flex;
    justify-content: space-between;
  }
  .sec-info .cont a .text-area {
    width: 50%;
    padding: 4.4rem 3.3rem;
  }
}/*# sourceMappingURL=styles.css.map */