<div class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="#">
        <img src="../../resources/images/pattern/common/sony-logo.svg" alt="Sony Korea" />
      </a>
    </div>
    <div class="textarea">
      <div class="footer-links">
        <a href="#"><span>개인정보처리방침</span></a>
        <a href="#"><span>고객센터</span></a>
        <a href="#"><span>이용약관</span></a>
        <a href="#"><span>자주 묻는 질문</span></a>
        <a href="#"><span>이벤트</span></a>
        <a href="#"><span>채용정보</span></a>
      </div>
      <div class="footer-middle">
        <div class="footer-company-info">
          <p>소니코리아 주식회사</p>
          <p>서울특별시 강남구 테헤란로 129</p>
          <p>전화: 02-1234-5678 | 이메일: info@sonykorea.com</p>
        </div>
        <div class="footer-socials">
          <a href="#" class="facebook">Facebook</a>
          <a href="#" class="twitter">Twitter</a>
          <a href="#" class="instagram">Instagram</a>
        </div>
        <div class="footer-copyright">
          <p>&copy; 2025 Sony Korea. All Rights Reserved.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
