<div class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="#">
        <img src="https://raw.githubusercontent.com/hyeonky/sonykorea/12aeac4af1410deb89c60ebeab7c3a7d8adf9270/resources/images/pattern/common/sony-logo.svg" alt="Sony Korea" />
      </a>
    </div>
    <div class="textarea">
      <div class="footer-links">
        <a href="#"><span>개인정보처리방침</span></a>
        <a href="#"><span>고객센터</span></a>
        <a href="#"><span>이용약관</span></a>
        <a href="#"><span>자주 묻는 질문</span></a>
        <a href="#"><span>이벤트</span></a>
        <a href="#"><span>채용정보</span></a>
      </div>
      <div class="footer-middle">
        <div class="footer-company-info">
          <p>소니코리아 주식회사</p>
          <p>서울특별시 강남구 테헤란로 129</p>
          <p>전화: 02-1234-5678 | 이메일: info@sonykorea.com</p>
        </div>

        <div class="footer-copyright">
          <p>&copy; 2025 Sony Korea. All Rights Reserved.</p>
        </div>
        <div class="footer-socials">
          <a href="#" class="facebook"><img src="https://github.com/hyeonky/sonykorea/blob/main/resources/images/pattern/common/facebook.png?raw=true" alt="Facebook" /><span>Facebook</span></a>
          <a href="#" class="twitter"><img src="https://github.com/hyeonky/sonykorea/blob/main/resources/images/pattern/common/twitter.png?raw=true" alt="Twitter" /><span>Twitter</span></a>
          <a href="#" class="instagram"><img src="https://github.com/hyeonky/sonykorea/blob/main/resources/images/pattern/common/instagram.png?raw=true" alt="Instagram" /><span>Instagram</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
