// 서브페이지
.hero {
  background-color: $black;
  height: 100vh;

  h2 {
    padding-top: 10vw;
    text-align: center;
    font-size: 21px;
    color: $white;
  }
  .img-wrap {
    margin: 50px 0;
  }
  .btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 80px;
    height: 40px;
    background-color: #0071e3;
    border-radius: 50px;
    font-size: 14px;
    color: $white;
  }
  .textarea {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    em {
      margin-top: 10px;
      font-weight: lighter;
    }
  }
}
.main_fct {
  padding: 10vw 0;
  background-color: #1d1d1d;
  position: relative;
  h2 {
    padding-left: 20px;
    font-size: 32px;
    color: $white;
  }
  .swiper-pagination {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .swiper-pagination-bullet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.7s;
  }
  .swiper-pagination-bullet-active {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: $gray-20;
  }
  .main-fct__img {
    margin-top: 40px;
    .swiper-wrapper {
      width: 100%;
      display: grid;

      grid-auto-flow: column;

      position: relative;
      .swiper-slide {
        width: 100%;
        img {
          width: 320px;
          height: 450px;
          border-radius: 30px;
          object-fit: cover;
        }
      }
    }
  }
  .main-fct__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    overflow: hidden;

    .swiper-slide p {
      margin: 0 auto;
      opacity: 0; /* 초기 상태: 보이지 않음 */
      transform: translateX(100px); /* 오른쪽에서 시작 */
      transition: transform 0.7s ease, opacity 0.7s ease; /* 애니메이션 속도 */
    }

    .swiper-slide-active p {
      opacity: 1; /* 활성 슬라이드에서 보임 */
      transform: translateX(0); /* 제자리로 이동 */
    }
    .textarea {
      text-align: left;
      color: $white;
      p {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
.detail {
  padding: 10vw 0;
  background-color: $black;
  h2 {
    text-align: center;
    font-size: 32px;
    color: $white;
  }
}
.perpect {
  padding: 10vw 0;
  background-color: $black;
  h2 {
    text-align: center;
    font-size: 32px;
    color: $white;
  }
  .video-warp {
    margin: 15vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    video {
      object-fit: cover;
      width: 100%;
      height: 400px;
    }
  }
}
.perpect-text {
  padding: 10vw 0;
  background-color: $black;
  .text-warp {
    color: $white;
    padding: 0 20px;
    .textarea {
      padding: 0 30px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      color: #999;
      word-break: break-all;

      p {
        font-size: 16px;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    img {
      width: 300px;
      height: 320px;
      border-radius: 35px;
    }
    .text-tit {
      text-align: left;
      font-size: 16px;
      font-weight: bold;
      background: linear-gradient(to right, #fff, #c5a6b6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.pro {
  padding: 10vw 0;
  background-color: $black;
  position: relative;
  h2 {
    padding-left: 20px;
    font-size: 32px;
    color: $white;
  }
  .text-warp {
    padding: 0 20px;
    color: #999;
    .textarea {
      padding: 0 30px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      word-break: break-all;
      p {
        font-size: 16px;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    img {
      width: 300px;
      height: 320px;
      border-radius: 35px;
    }
    .text-tit {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      background: linear-gradient(to right, #fff, #c5a6b6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .btn {
    padding: 10vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .view__more {
      width: 200px;
      height: 45px;
      border-radius: 60px;
      background-color: #333;
      color: $white;
      z-index: 1;
      font-size: 16px;
    }
  }
}
.gallery {
  padding: 10vw 0;
  background-color: $black;
  position: relative;
  h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, 400%);
    padding-left: 20px;
    font-size: 21px;
    text-align: center;
    color: $white;
  }
  .img-wrap {
    img {
      width: 100%;
      height: 400px;
    }
  }
  em {
    display: block;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    color: $gray-40;
  }
  .text-warp {
    margin-top: 30px;
    padding: 0 20px;
    color: #999;
    .textarea {
      padding: 0 30px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      word-break: break-all;
      p {
        font-size: 16px;
      }
      strong {
        color: $white;
        font-size: 28px;
        line-height: 1.4;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
}
.af-drive {
  padding: 10vw 0;
  background-color: $black;
  .text-warp {
    margin-top: 30px;
    padding: 0 20px;
    color: #999;
    .textarea {
      padding: 0 30px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      word-break: break-all;
      p {
        font-size: 16px;
      }
      strong {
        color: $white;
        font-size: 28px;
        line-height: 1.4;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
  .video-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-top: 40px;
    video {
      width: 80%;
    }
  }
  .textbox {
    padding: 0 20px;
    .box {
      margin: 50px 0;
      padding-left: 30px;
      width: 90%;
      text-align: left;
      line-height: 1.6;
      span {
        color: $white;
        font-weight: bold;
      }
      .line {
        padding: 5px 0;
        &::after {
          content: '';
          display: block;
          width: 150px;
          height: 3px;
          background-color: $white;
        }
      }
      p {
        color: #999;
      }
    }
  }
  .btn {
    padding: 10vw 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    .view__more {
      width: 250px;
      height: 45px;
      border-radius: 60px;
      background-color: #333;
      color: $white;
      z-index: 2;
      font-size: 16px;
    }
  }
}
.timing {
  padding: 10vw 0;
  background-color: $black;
  position: relative;
  h2 {
    position: absolute;
    top: 20%;
    left: 0;
    padding-left: 20px;
    font-size: 32px;
    color: $white;
  }
  img {
    width: 100%;
  }
  .text-warp {
    margin: 10vw 0;
    padding: 0 20px;
    .textarea {
      padding: 0 30px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      color: #999;
      word-break: break-all;
      p {
        font-size: 16px;
      }
      strong {
        color: $white;
        font-size: 28px;
        line-height: 1.4;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
}
.compact {
  padding: 10vw 0;
  background-color: $black;
  position: relative;
  h2 {
    font-size: 32px;
    color: $white;
    text-align: center;
  }

  img {
    width: 100%;
  }
  em {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: normal;
    font-size: 16px;
  }
  strong {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 28px;
    color: $white;
  }
  .text-warp {
    margin: 10vw 0;
    padding: 0 20px;
    .textarea {
      padding: 0 30px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      color: #999;
      word-break: break-all;
      p {
        font-size: 16px;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
}
.eco {
  padding: 10vw 0;
  background-color: $black;
  position: relative;
  h2 {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 32px;
    text-align: center;
    color: $white;
  }
  .text-warp {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(5%, -80%);
    margin: 10vw 0;
    padding: 0 20px;
    .textarea {
      padding: 0 20px;
      font-weight: bold;
      text-align: left;
      line-height: 1.6;
      color: #999;
      word-break: break-all;
      p {
        font-size: 16px;
      }
      strong {
        color: $white;
        font-size: 28px;
        line-height: 1.4;
      }
      .highlight {
        font-weight: bold;
        color: $white;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, 180%);
  }
}
