// 사이트 공통 스타일
:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: $gray-5;
}

// 전역 스타일
.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    // background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: -70px;
    left: 50px;
    width: 130px;
    height: 50px;
    background-color: $gray-70;
    transform: translateY(-50%);
    @include tabletLess {
      display: none;
    }
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 8rem;
    font-weight: normal;
    color: $gray-20;
    opacity: 0.7;
    text-align: center;
    @include mobileMore {
      display: none;
    }
    @include tabletLess {
      display: none;
    }
    @include tabletMore {
      display: block;
    }
  }
  .swiper-button-next::before {
    content: '\f35a';
    position: absolute;
    top: 0;
    left: 0;
  }
  .swiper-button-prev::before {
    content: '\f359';
    position: absolute;
    top: 0;
    right: 0;
  }
}

// 사이트 공통 스타일
// text-align: center;
.m-br {
  display: block;
  @include tabletMore {
    display: none;
  }
  @include mobileMore {
    display: none;
  }
}
.t-br {
  display: block;
  @include tabletMore {
    display: none;
  }
}
.desk-p {
  display: block;
  @include mobileMore {
    display: none;
  }
  @include tabletLess {
    display: none;
  }
  @include tabletMore {
    display: block;
  }
}
.color-btn {
  display: block;
  @include mobileMore {
    display: none;
  }
  @include tabletLess {
    display: none;
  }
}
