// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: $black;
}
.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;    
  align-items: flex-end;
  height: 100vh;
  background-color: $black;
  padding-bottom: 5rem;
  .inner {
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  .intro-text {
    position: relative;
    padding-bottom: 1.5rem;
    width: 90%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .pd-name{
      position: absolute;
      bottom: 14.5rem;
      left: 0;
      font-size: 20px;
      font-weight: normal;
      color: $white;
    }
    &__tit {
      width: 100%;
      font-size: 80px;
      color: $white;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: .1rem;
        border-top: .1rem solid #999;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: .1rem;
        border-top: .1rem solid #999;
      }
    }
    // tablet ver
    @include mobileMore {
      padding: 26rem 0 ;
        .pd-name {
          padding: 33.5rem 0 ;
        }
        &__tit {
          font-size: 120px;
          &::after {
            padding-top: 3rem;
        }
      }
    }
    // desktop
    @include tabletMore {
      padding: 23rem 0 ;
        .pd-name {
          padding: 34rem 0;
        }
        &__tit {
          font-size: 140px;
          &::after {
            padding-top: 3rem;
        }
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60rem;
    transform: scale(0.6) translate(-50%, -60%);
    transform-origin: 0 0;
    text-align: center;
    @include mobileMore {
      transform: scale(0.75) translate(-55%, -35%);
    }
    @include tabletMore {
      transform: scale(0.9) translate(-55%, -40%);
    }
  }
  .btn_view {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    background-color: $primary;
    border: .1rem solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-15%, -20%);
    a {
      display: flex;
      justify-content: center; 
      align-items: center;
      width: 100%;
      height: 100%;
      &:hover{
        text-decoration: none;
        background-color: $gray-40;
        border-radius: 50%;
        border: .1rem solid rgb(255, 255, 255, 0.5);
      }
      span {
        text-align: center;
        color: $white;
        font-size: 25px;
      }
    }
    @include mobileMore {
      top: 50%;
      right: 0;
      transform: translate(-65%, 120%);
    }
    @include tabletMore {
      top: 50%;
      right: 0;
      transform: translate(-185%, 130%);
    }
  }
}
.sec-latest {
  position: relative;
  .latest-lst{
    padding-top: .5rem;
    overflow: visible;
    width: 90%;
    margin-left: 0;
    @include mobileMore {
      width: 80%;
    }
    @include tabletMore {
      padding-top: 3rem;
      width: 45%;
    }
  }
  .swiper-slide {
    flex-direction: column;
    background: $black;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 12rem;
      width: 100%;
      height: 37rem;
      object-fit: cover;
      background-color: $black;
      margin: 0 auto;
      @include mobileMore {
        width: 100%;
        height: 30rem;
        margin-bottom: 13rem;
        padding-bottom: 1rem;
      }
    }
    .text-area {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      // background-color: $black;
      // opacity: 0.3;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(.7rem);
      em {
        font-weight: normal;
        color: $gray-40;
        // color: $white;
      }
      p {
        font-size: 14px;
        color: $gray-50;
        // color: $white;
      }
      strong {
        padding-top: 1.5rem;
        // color: $gray-70;
        color: $white;
      }
      @include mobileMore {
        em {
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
        strong {
          padding-top: 2rem;
          font-size: 21px;
        }
      }
    }
  }
}

.cont-parallax {
  padding-top: 10vw;
  width: 100%;
  height: 100%;
  &__wrapper {
    // position: relative;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    white-space: nowrap;
  }
  img {
    display: block;
    width: 50rem;
    height: 40rem;
    object-fit: cover;
    background-color: $black;
    @include tabletMore {
      width: 70rem;
    height: 50rem;
    }
  }
}

.cont-headline {  
  padding-top: 10vw;
  width: 100%;
  background: $black;
  .cont-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    @include mobileMore {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
  }
  .head-text {
    position: relative;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    &__tit {
      text-align: left;
      color: $white;
      font-weight: bold;
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.3;
    }
    &__desc {
      padding-top: 2rem;
      text-align: left;
      color: $white;
      font-weight: lighter;
      font-size: 14px;
      line-height: 1.5;
    }
    @include mobileMore {
      margin: 20vW 0 0 0;
      flex: 1;
      &__tit {
        margin-right: -14rem;
        font-size: 36px;
        .t-br {
          display: block;
        }
      }
      &__desc {
        font-size: 15px;
        margin: 2rem -15rem 0 0;
      }
    }
    @include tabletMore {
      margin-top: 5vw;
      &__tit {
        font-size: 60px;
        .t-br {
          display: block;
        }
      }
      &__desc {
        font-size: 20px;
        margin-top: 5vw;
      }
    }
  }
  .btn-all {
    position: sticky;
    top: 50%;
    left: 50%;
    width: 18rem;
    height: 4rem;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(1rem);
    border-radius: 3rem;
    transform: translate(-50%, -50%);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      &:hover{
        text-decoration: none;
        background-color: $gray-40;
        border-radius: 3rem;
      }
      span {
        text-align: center;
        color: $white;
        font-size: 15px;
        @include tabletMore {
          font-size: 20px;
        }
      }
    }
    @include mobileMore {
      position: absolute;
      top: 52rem;
      left: 9rem;
    }
    @include tabletMore {
      width: 30rem;
      height: 6rem;
      position: absolute;
      top: 70rem;
      left: 15rem;
    }
  }
  .head-video {
    overflow: hidden;
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mobileMore {
      flex: 1;
      padding-top: 0;
      height: 70vh;
    }
    @include tabletMore {
      height: 100vh;
    }
  }
  @include mobileMore {
    padding-bottom: 10vw;
  }
}

.sec-hot {
  position: relative;
  padding-top: 10vw;
  // .inner {
  //   margin-left: 2rem;
  //   padding: 0;
  // }
  .sec-g__desc {
    em{
      font-size: 11px;
      color: $gray-30;
      @include mobileMore {
        font-size: 15px;
      }
    }
  }
}

// hot자리
.hot-lst__circle {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(1%, 0%);
  display: block;
  width: 100%;
  // z-index: 200;
  .swiper-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    // transform: translate(-20%, -20%);
    .swiper-slide {
      flex-shrink: 0;
      position: relative;
      transition-property: transform;
    }
    .circle{
      margin-top: 50px;
      position: absolute;
      top: 0;
      left: 30%;
      // transform: translate(-50%, 0%); 
      width: 55rem;
      height: 55rem;
      border: 0.1rem solid $gray-40;
      border-radius: 50%;
      background-color: transparent;
    }
  }
}
  .hot-lst__gallery {
    .swiper-slide {
      border-radius: 50%;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    @include mobileMore {
      padding-top: 50px;
      margin-left: 7rem;
      width: 80%;
    }
    @include tabletMore {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  .hot-lst__text {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-area {
      text-align: center;
      line-height: 1.5;
      a {
        &:hover{
          text-decoration: none;
        }
      }
      span {
        color: $gray-50;
        font-size: 14px;
      }
      h3 {
        color: $gray-90;
      }
      em {
        font-weight: normal;
        color: $gray-70;
        line-height: 3;
      }
      @include mobileMore {
        padding-top: 2rem;
        span {
          font-size: 21px;
        }
        h3 {
          font-size: 28px;
        }
        em {
          font-size: 24px;
        }
      }
      @include tabletMore {
        // flex: 1;
        margin-left: -10rem;
        text-align: start;
        padding-left: 150px;
        span {
          font-size: 22px;
        }
        h3 {
          font-size: 28px;
        }
        .color-btn {
          display: inline-block;
          margin-top: 50px;
          width: 26px;
          height: 26px;
          background-color: $black;
          border: 1px solid $gray-40;
        }
        p {
          margin-top: 10px;
          font-size: 14px;
          color: $gray-50;
        }
        em {
          font-size: 24px;
        }
      }
    }
  }


.sec-info {
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    @include tabletMore {
      display: flex;
      justify-content: space-between;
    }
  }
  .cont {
    position: relative;
    margin: -1.5rem 0 1.5rem 0;
    text-align: center;
    @include tabletMore {
      position: relative;
    }
    .line {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: .2rem;
        background-color: $black;
      }
    }
    .bg1 {
      @include mobileMore {
        width: 50.25%;
        background: linear-gradient(to bottom, #EBEAEA, #DBDBDB, #C9C9CA, #C9C9C9);
        backdrop-filter: blur(.01rem);
        img {
          height: 220px;
          backdrop-filter: blur(0.09rem);
        }
      }
      @include tabletMore {
        background: none;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .bg2 {
      background-color: #F9E4C9;
      @include mobileMore {
        width: 50.25%;
      }
      @include tabletMore {
        background: none;
        img {
        width: 100%;
        }
      }
    }
    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      @include tabletMore {
        text-align: center;
        padding: 20px;
        margin-left: 20px;
        transform: scale(1);
      }
      
    }
    a {
      @include tabletMore {
        display: flex;
        justify-content: space-between;
      }
      &:hover{
        text-decoration: none;
      }
    }
    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 3rem 1rem 3rem 1rem;
      margin-bottom: 2rem;
      background-color: #fff;
      em {
        font-weight: bold;
        color: #002699;
        font-size: 1.4rem;
      }
      h3 {
        color: $gray-100;
      }
      p {
        padding-top: 1.5rem;
        color: $gray-50;
        font-size: 1.4rem;
      }
      @include tabletMore {
        display: flex;
        justify-content: center;
        text-align: left;
        margin-right: 310px;
        height: 300px;
        min-width: 65%;
        em {
          font-size: 16px;
        }
        h3 {
          font-size: 24px;
        }
        p {
          width: 100%;
          padding-top: 50px;
          font-size: 15px;
        }
      }
    }
    @include mobileMore { 
      img {
        width: 50%;
        height: 20rem;
        text-align: center;
      }
      a {
        display: flex;
        justify-content: space-between;
        .text-area {
          width: 50%;
          padding: 4.4rem 3.3rem;
        }
      }
    }
  }
}
