// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: $black;
}
.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;    
  align-items: flex-end;
  height: 100vh;
  background-color: $black;
  padding-bottom: 50px;
  .inner {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  .intro-text {
    position: relative;
    padding-bottom: 15px;
    width: 90%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .pd-name{
      position: absolute;
      bottom: 145px;
      left: 0;
      font-size: 2rem;
      font-weight: normal;
      color: $white;
    }
    &__tit {
      width: 100%;
      font-size: 8rem;
      color: $white;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid #999;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid #999;
      }
    }
    // tablet ver
    @include mobileMore {
      padding: 260px 0 ;
        .pd-name {
          padding: 335px 0 ;
        }
        &__tit {
          font-size: 12rem;
          &::after {
            padding-top: 30px;
        }
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: scale(0.6) translate(-50%, -60%);
    transform-origin: 0 0;
    text-align: center;
    @include mobileMore {
      transform: scale(0.75) translate(-55%, -35%);

    }
  }
  .btn_view {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: $primary;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-15%, -20%);
    a {
      display: flex;
      justify-content: center; 
      align-items: center;
      width: 100%;
      height: 100%;
      span {
        text-align: center;
        color: $white;
        font-size: 2.5rem;
      }
    }
    @include mobileMore {
      top: 50%;
      right: 0;
      transform: translate(-65%, 120%);
    }
  }
}

.sec-latest {
  position: relative;
  .latest-lst{
    padding-top: 5px;
    overflow: visible;
    width: 90%;
    margin-left: 0;
    @include mobileMore {
      width: 80%;
    }
  }
  .swiper-slide {
    flex-direction: column;
    background: $black;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 120px;
      width: 100%;
      height: 370px;
      object-fit: cover;
      background-color: $black;
      margin: 0 auto;
      @include mobileMore {
        width: 100%;
        height: 300px;
        margin-bottom: 130px;
        padding-bottom: 10px;
      }
    }
    .text-area {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      // background-color: $black;
      // opacity: 0.3;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(7px);
      em {
        font-weight: normal;
        color: $gray-40;
        // color: $white;
      }
      p {
        font-size: 1.4rem;
        color: $gray-50;
        // color: $white;
      }
      strong {
        padding-top: 15px;
        // color: $gray-70;
        color: $white;
      }
      @include mobileMore {
        em {
          font-size: 2.1rem;
        }
        p {
          font-size: 1.6rem;
        }
        strong {
          padding-top: 20px;
          font-size: 2.4rem;
        }
      }
    }
  }
}

.cont-parallax {
  padding-top: 10vw;
  width: 100%;
  height: 100%;
  &__wrapper {
    // position: relative;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    white-space: nowrap;
  }
  img {
    display: block;
    width: 500px;
    height: 400px;
    object-fit: cover;
    background-color: $black;
  }
}

.cont-headline {  
  padding-top: 10vw;
  width: 100%;
  background: $black;
  .cont-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    @include mobileMore {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
  }
  .head-text {
    position: relative;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    &__tit {
      text-align: left;
      color: $white;
      font-weight: bold;
      font-size: 3rem;
      line-height: 1.5;
      letter-spacing: 0.3;
    }
    &__desc {
      padding-top: 20px;
      text-align: left;
      color: $white;
      font-weight: lighter;
      font-size: 1.4rem;
      line-height: 1.5;
    }
    @include mobileMore {
      margin: 20vW 0 0 0;
      flex: 1;
      &__tit {
        margin-right: -140px;
        font-size: 3.6rem;
        .t-br {
          display: block;
        }
      }
      &__desc {
        font-size: 1.5rem;
        margin: 20px -150px 0 0;
      }
    }
  }
  .btn-all {
    position: sticky;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      span {
        text-align: center;
        color: $white;
        font-size: 1.5rem;
      }
    }
    @include mobileMore {
      position: absolute;
      top: 520px;
      left: 90px;
    }
  }
  .head-video {
    overflow: hidden;
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mobileMore {
      flex: 1;
      padding-top: 0;
      height: 70vh;
    }
  }
  @include mobileMore {
    padding-bottom: 10vw;
  }
}

.sec-hot {
  position: relative;
  padding-top: 10vw;
  // .inner {
  //   padding: 0;
  // }
  .sec-g__desc {
    em{
      font-size: 1.1rem;
      color: $gray-30;
      @include mobileMore {
        font-size: 1.5rem;
      }
    }
  }
  .hot-lst {
    padding-top: 20px;
    .swiper-slide {
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
  }
  .hot-lst__text {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-area {
      text-align: center;
      line-height: 1.5;
      p {
        color: $gray-50;
        font-size: 1.4rem;
      }
      h3 {
        color: $gray-90;
      }
      em {
        font-weight: normal;
        color: $gray-70;
        line-height: 3;
      }
      @include mobileMore {
        padding-top: 20px;
        p {
          font-size: 2.1rem;
        }
        h3 {
          font-size: 2.8rem;
        }
        em {
          font-size: 2.4rem;
        }
      }
    }
  }
}

.sec-info {
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .cont {
    position: relative;
    margin-top: -15px;
    text-align: center;
    .line {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $black;
      }
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 30px 10px 30px 10px;
      margin-bottom: 40px;
      background-color: #fff;
      em {
        font-weight: normal;
        color: #002699;
        font-size: 1.4rem;
      }
      h3 {
        color: $gray-100;
      }
      p {
        padding-top: 15px;
        color: $gray-60;
        font-size: 1.4rem;
      }
    }
    @include mobileMore { 
      img {
        width: 50%;
        height: 200px;
        text-align: center;
      }
      a {
        display: flex;
        justify-content: space-between;
        .text-area {
          width: 50%;
          padding: 44px 33px;
          em {
            font-weight: bold;
          }
        }
      }
    }
  }
}
