// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: $black;
}
.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;    
  align-items: flex-end;
  height: 100vh;
  background-color: $black;
  padding-bottom: 50px;
  .inner {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  .intro-text {
    position: relative;
    padding-bottom: 40px;
    width: 90%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .pd-name{
      position: absolute;
      bottom: 170px;
      left: 0;
      font-size: 2rem;
      font-weight: normal;
      color: $white;
    }
    &__tit {
      width: 100%;
      font-size: 8rem;
      color: $white;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid #999;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid #999;
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: scale(0.6) translate(-50%, -70%);
    transform-origin: 0 0;
    text-align: center;
  }
  .btn_view {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: $primary;
    border-radius: 50%;
    transform: translate(-15%, -20%);
    a {
      display: flex;
      justify-content: center; 
      align-items: center;
      width: 100%;
      height: 100%;
      span {
        text-align: center;
        color: $white;
        font-size: 2.5rem;
      }
    }
  }
}

.sec-latest {
  .latest-lst{
  overflow: visible;
  width: 80%;
  margin-left: 20px;
  }
  .swiper-slide {
    flex-direction: column;
    background: $gray-10;
    .text-area {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }
  }
}

.cont-parallax {
  padding-top: 10vw;
  width: 100%;
  height: 100%;
  &__wrapper {
    // position: relative;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    white-space: nowrap;
  }
  img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}

.cont-headline {
  padding-top: 10vw;
  width: 100%;
  background: $black;
  .cont-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .head-text {
    position: relative;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &__tit {
      text-align: left;
      color: $white;
      font-weight: bold;
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.3;
    }
    &__desc {
      padding-top: 20px;
      text-align: left;
      color: $white;
      font-weight: lighter;
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .btn-all {
    position: sticky;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 40px;
    background-color: $gray-90;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      span {
        text-align: center;
        color: $white;
        font-size: 1.5rem;
      }
    }
  }
  .head-video {
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    video {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sec-hot {
  padding-top: 10vw;
  .hot-lst {
    .swiper-slide {
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
  }
  .hot-lst__text {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-area {
      text-align: center;
      line-height: 1.5;
      em {
        line-height: 3;
      }
    }
  }
}

.sec-info {
  display: flex;
  justify-content: center;
  align-items: center;
  .cont {
    margin-top: -15px;
    .line {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $black;
      }
    }
    img {
      padding-top: 20px;
    }
    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 15px 10px 0 10px;
      margin-bottom: 40px;
    }
  }
}
