// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: $black;
}

.sidebar {
  display: block;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 7.5rem;
  height: 2000vh;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  z-index: 1001;
  padding: 0 1rem;
  transform: translate(0%, -5%);
  margin-top: 74px;
  .sidebar-wrapper {
    position: absolute;
    flex-direction: column;
    will-change: transform;
  }
  img {
    width: 100%;
    transform: scale(1.2);
    margin-bottom: 100px;
    padding-right: 10px;
  }
  @include mobileMore {
    display: none;
  }
  @include tabletLess {
    display: none;
  }
  @include tabletMore {
    display: block;
  }
}

.intro {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: $black;
  padding-bottom: 5rem;
  @include tabletMore {
    background-color: transparent;
  }
  .inner {
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  .intro-text {
    position: relative;
    // padding-bottom: 1.5rem;
    width: 90%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .pd-name {
      position: absolute;
      bottom: 14.5rem;
      left: 0%;
      font-size: 20px;
      font-weight: normal;
      color: $white;
    }
    &__tit {
      width: 100%;
      font-size: 80px;
      color: $white;
      animation-name: main-marquee-ani;
      animation-iteration-count: infinite;
      animation-duration: 30s;
      animation-direction: normal;
      animation-timing-function: linear;
      white-space: nowrap;
      @keyframes main-marquee-ani {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      &::before {
        content: '';
        display: block;
        width: 1000vh;
        height: 0.1rem;
        border-top: 0.1rem solid #999;
      }
      &::after {
        content: '';
        display: block;
        width: 1000vh;
        height: 0.1rem;
        border-top: 0.1rem solid #999;
      }
    }
    // tablet ver
    @include mobileMore {
      padding: 26rem 0;
      .pd-name {
        padding: 33.5rem 0;
      }
      &__tit {
        font-size: 120px;
        &::after {
          padding-top: 3rem;
        }
      }
    }
    // desktop
    @include tabletMore {
      padding: 23rem 0;
      .pd-name {
        padding: 34rem 0;
      }
      &__tit {
        font-size: 140px;
        &::after {
          padding-top: 3rem;
        }
      }
    }
  }

  .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60rem;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: floating 3s infinite;
    img {
      display: block;
      margin: 0 auto;
    }
    @keyframes floating {
      0%,
      100% {
        transform: scale(0.7) translate(-71%, -80%);
      }
      50% {
        transform: scale(0.7) translate(-71%, -77%); /* 위로 이동 */
      }
    }
    // img {
    //   box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3), 0px 0px 30px rgba(0, 150, 255, 0.5);
    //   &:hover {
    //     box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.5), 0px 0px 50px rgba(0, 150, 255, 0.7);
    //   }
    // }
    @include mobileMore {
      // transform: scale(0.75) translate(-55%, -35%);
      @keyframes floating {
        0%,
        100% {
          transform: scale(0.9) translate(-60%, -38%);
        }
        50% {
          transform: scale(0.9) translate(-60%, -35%); /* 위로 이동 */
        }
      }
    }
    @include tabletMore {
      // transform: scale(0.9) translate(-50%, -40%);
      @keyframes floating {
        0%,
        100% {
          transform: scale(1.2) translate(-50%, -38%);
        }
        50% {
          transform: scale(1.2) translate(-50%, -35%); /* 위로 이동 */
        }
      }
    }
  }
  .btn_view {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    background-color: $primary;
    // border: 0.1rem solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-15%, -35%);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      &:hover {
        text-decoration: none;
        background-color: #325cda;
        border-radius: 50%;
        transform: scale(1.1);
        transition: all 0.1s;
      }
      span {
        text-align: center;
        color: $white;
        font-size: 25px;
      }
    }
    @include mobileMore {
      top: 53%;
      right: 0;
      transform: translate(-65%, 120%);
    }
    @include tabletMore {
      top: 55%;
      right: 0;
      transform: translate(-185%, 130%);
    }
  }
}

.container {
  width: 100%;
  padding-right: 200px;
}
.sec-latest {
  position: relative;
  .latest-lst {
    padding: 3rem 0;
    margin-bottom: 10px;
    overflow: visible;
    display: flex;
    width: 80%;
    @include mobileMore {
      padding-top: 4rem;
      width: 70%;
    }
    @include tabletMore {
      width: 50%;
    }
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-button {
    &-next {
      display: none;
    }
    &-prev {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    transition: all 0.7s;
  }
  .swiper-pagination-bullet-active {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: $gray-20;
  }

  .swiper-slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 16px;
    flex-direction: column;
    overflow: visible;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    z-index: 10;
    @include tabletMore {
      height: 450px;
    }
    &::after {
      content: '';
      border-radius: 16px;
      position: absolute;
      inset: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
    &.active {
      transform: scale(1.1);
      width: 100%;
      z-index: 10;
      box-shadow: 5px 12px 12px rgba(0, 0, 0, 0.25);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 10;
      border-radius: 16px;
      transition: transform 0.4s ease-in-out;
      object-fit: cover;
      // background-color: rgba(0, 0, 0, 0.25);
      @include tabletMore {
        width: 100%;
        object-fit: cover;
      }
      &.active {
        transform: translateY(1.1);
        @include tabletMore {
          transform: translateY(1.5);
        }
      }
    }
    .text-area {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      transform: translateY(calc(100% - 55px));
      transition: transform 0.4s ease-in-out;
      overflow: visible;
      z-index: 30;
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
      em {
        font-weight: normal;
        color: $gray-30;
        &.active {
          transform: translateY(-55px);
          transition: all 0.4s ease-in-out;
          @include mobileMore {
            transform: translateY(-60px);
          }
        }
      }

      p {
        opacity: 0;
        font-size: 14px;
        color: $gray-50;
        transform: translateY(30px);
        transition: all 0.4s ease-in-out;
        &.active {
          opacity: 1;
          transform: translateY(-55px);
          @include mobileMore {
            transform: translateY(-65px);
          }
        }
      }

      strong {
        opacity: 0;
        padding-top: 1.5rem;
        color: $white;
        transform: translateY(30px);
        transition: all 0.4s ease-in-out;
        &.active {
          opacity: 1;
          transform: translateY(-60px);
          @include mobileMore {
            transform: translateY(-70px);
          }
        }
      }

      @include mobileMore {
        img {
          object-fit: cover;
        }
        em {
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
        strong {
          padding-top: 2rem;
          font-size: 21px;
        }
      }
    }
  }
}

.horizontal-scroll {
  overflow: hidden;
  background-color: $black;
  margin-top: 10vw;
  width: 100%;
  height: 100vh;
  position: relative;
  @include tabletMore {
    background-color: transparent;
  }

  .filled-text {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 1;
    font-size: 100px;
    font-weight: 600;
    color: ghostwhite;
  }

  .outline-text {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 3;
    font-size: 100px;
    font-weight: 600;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: ghostwhite;
    color: transparent;
  }

  .image {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 600px;
    z-index: 2;
    object-fit: cover;
    @include tabletMore {
      width: 70rem;
      height: 50rem;
    }
  }
}

.cont-headline {
  padding-top: 10vw;
  width: 100%;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tabletMore {
    background-color: transparent;
  }
  .cont-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    @include mobileMore {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      // margin-left: -50px;
    }
  }
  .head-text {
    position: relative;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    &__tit {
      text-align: left;
      color: $white;
      font-weight: bold;
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.3;
    }
    &__desc {
      padding-top: 2rem;
      text-align: left;
      color: $white;
      font-weight: lighter;
      font-size: 14px;
      line-height: 1.5;
    }
    @include mobileMore {
      margin: 20vw 0 0 0;
      flex: 1;
      &__tit {
        margin-right: -14rem;
        font-size: 36px;
        .t-br {
          display: block;
        }
      }
      &__desc {
        font-size: 15px;
        margin: 2rem -15rem 0 0;
      }
    }
    @include tabletMore {
      margin-top: 5vw;
      &__tit {
        font-size: 60px;
        .t-br {
          display: block;
        }
      }
      &__desc {
        font-size: 20px;
        margin-top: 5vw;
      }
    }
  }
  .btn-all {
    position: sticky;
    top: 50%;
    left: 50%;
    width: 18rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1rem);
    border-radius: 3rem;
    transform: translate(-50%, -50%);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      &:hover {
        text-decoration: none;
        background-color: $gray-40;
        border-radius: 3rem;
      }
      span {
        text-align: center;
        color: $white;
        font-size: 15px;
        @include tabletMore {
          font-size: 20px;
        }
      }
    }
    @include mobileMore {
      position: absolute;
      top: 52rem;
      left: 9rem;
    }
    @include tabletMore {
      width: 30rem;
      height: 6rem;
      position: absolute;
      top: 70rem;
      left: 15rem;
    }
  }
  .head-video {
    overflow: hidden;
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    video {
      width: 90%;
      height: 100%;
      object-fit: cover;
    }
    @include mobileMore {
      flex: 1;
      padding-top: 0;
      height: 70vh;
    }
    @include tabletMore {
      height: 100vh;
    }
  }
  @include mobileMore {
    padding-bottom: 10vw;
  }
}

.sec-hot {
  position: relative;
  padding-top: 10vw;
  .sec-g__desc {
    em {
      font-size: 11px;
      color: $gray-30;
      @include mobileMore {
        font-size: 15px;
      }
    }
  }
  .hot-lst__circle {
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -15%);
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    @include mobileMore {
      display: none;
    }
    @include tabletLess {
      display: none;
    }
    @include tabletMore {
      margin: 0;
      display: block;
      height: auto;
      top: auto;
      bottom: 0;
      transform: translate(-80%, 0);
    }
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      .swiper-slide {
        flex-shrink: 0;
        position: relative;
        transition-property: transform;
        @include tabletMore {
          justify-content: flex-start;
        }
      }
      .circle {
        width: 563px;
        height: 563px;
        border: 0.1rem solid $gray-40;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }

  .hot-lst__gallery {
    width: 90%;
    .swiper-slide {
      border-radius: 50%;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    @include mobileMore {
      padding-top: 50px;
      margin-left: 7rem;
      width: 80%;
    }
    @include tabletMore {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        display: block;
        width: 563px;
        height: 563px;
      }
    }
  }
  .hot-lst__text {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-area {
      text-align: center;
      line-height: 1.5;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      span {
        color: $gray-50;
        font-size: 14px;
      }
      h3 {
        color: $gray-90;
      }
      em {
        font-weight: normal;
        color: $gray-70;
        line-height: 3;
      }
      @include mobileMore {
        padding-top: 2rem;
        span {
          font-size: 21px;
        }
        h3 {
          font-size: 28px;
        }
        em {
          font-size: 24px;
        }
      }
      @include tabletMore {
        // flex: 1;
        width: 370px;
        margin-left: auto;
        text-align: left;
        span {
          font-size: 22px;
        }
        h3 {
          font-size: 28px;
        }
        .color-btn {
          display: inline-block;
          margin-top: 50px;
          width: 26px;
          height: 26px;
          background-color: $black;
          border: 1px solid $gray-40;
        }
        p {
          margin-top: 10px;
          font-size: 14px;
          color: $gray-50;
        }
        em {
          font-size: 24px;
        }
      }
    }
  }
}

.sec-info {
  background-color: #f5f5f7;
  padding: 10vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tabletMore {
    background-color: transparent;
  }
  &__tit {
    color: $black;
    @include tabletMore {
      text-align: left;
      color: #f5f5f7;
    }
  }
  ul {
    @include tabletMore {
      display: flex;
      justify-content: space-between;
    }
  }
  .cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobileMore {
      gap: 30px;
    }
    @include tabletMore {
      display: block;
      gap: 0;
    }
  }
  a {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    @include mobileMore {
      width: 100%;
    }
    @include tabletMore {
      display: flex;
      flex-direction: row;
      width: 95%;
      height: 340px;
      border-radius: 20px;
    }
    &:hover {
      @include tabletMore {
        background-color: $gray-10;
        text-decoration: none;
        position: relative;
        transform: scale(1.01);
        transition: all 0.4s;
        box-shadow: 5px 12px 12px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .bg {
    width: 95%;
    @include mobileMore {
      width: 70%;
    }
    @include tabletMore {
      width: 50%;
    }
    img {
      width: 100%;
      object-fit: cover;
      @include mobileMore {
        width: 100%;
        height: 240px;
        display: flex;
      }
      @include tabletMore {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -20px;
    padding: 2rem 2rem;
    // margin-bottom: 3rem;
    em {
      font-weight: normal;
      color: $gray-80;
      font-size: 1.3rem;
    }
    h3 {
      font-size: 2.1rem;
      color: $gray-100;
    }
    p {
      padding-top: 1.5rem;
      color: #002699;
      font-size: 1.2rem;
    }
    @include mobileMore {
      margin-top: 10px;
      em {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 2.8rem;
      }
      p {
        padding-top: 30px;
        font-size: 1.6rem;
      }
    }
    @include tabletMore {
      // margin-top: 50px;
      padding: 0;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      em {
        font-size: 1.8rem;
      }
      h3 {
        padding-top: 10px;
        font-size: 2.8rem;
      }
      p {
        padding-top: 120px;
        font-size: 1.6rem;
      }
    }
  }
}
